<html>  
<head>  
    <title>upload</title>  
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>  

<body> 


    <form id="form-form" action = "/uploadFiles" method = "post" enctype="multipart/form-data">  
        <input id="form-input" type="file" name="files" class="upload" multiple />  
        <p id="form-p">Drag your files here or click in this area.</p>
        <button id="form-button" type="submit">Upload</button>
      </form>
      <div class="sidebar" class="center">
        <div id="balls" class="center">{{payload.total_number_of_download}}</div>
        <div id="balls" class="center">{{payload.total_number_of_upload}}</div>
        <div id="balls" class="center">{{payload.total_number_of_images}}</div>
        <div>
            <form action = "/tags" enctype="multipart/form-data">
                <button class= "button-submit" type="submit">View Tags</button>
            </form>
            <form action = "/getAllImages" enctype="multipart/form-data">
                <button class= "button-submit" type="submit">View All Images</button>
            </form>
        </div>
    </div>
    <div class="sidebar2" class="center">
        <div id="text" class="center">number of downloads</div>
        <div id="text" class="center">number of uploads</div>
        <div id="text" class="center">number of total images</div>
    </div>


</body>
</html>
